In [15]:
import pandas as pd
import numpy as np

In [16]:
data = {
    'CHN': {'COUNTRY': 'China', 'POP': 1_398.72, 'AREA': 9_596.96,
            'GDP': 12_234.78, 'CONT': 'Asia'},
    'IND': {'COUNTRY': 'India', 'POP': 1_351.16, 'AREA': 3_287.26,
            'GDP': 2_575.67, 'CONT': 'Asia', 'IND_DAY': '1947-08-15'},
    'USA': {'COUNTRY': 'US', 'POP': 329.74, 'AREA': 9_833.52,
            'GDP': 19_485.39, 'CONT': 'N.America',
            'IND_DAY': '1776-07-04'},
    'IDN': {'COUNTRY': 'Indonesia', 'POP': 268.07, 'AREA': 1_910.93,
            'GDP': 1_015.54, 'CONT': 'Asia', 'IND_DAY': '1945-08-17'},
    'BRA': {'COUNTRY': 'Brazil', 'POP': 210.32, 'AREA': 8_515.77,
            'GDP': 2_055.51, 'CONT': 'S.America', 'IND_DAY': '1822-09-07'},
    'PAK': {'COUNTRY': 'Pakistan', 'POP': 205.71, 'AREA': 881.91,
            'GDP': 302.14, 'CONT': 'Asia', 'IND_DAY': '1947-08-14'},
    'NGA': {'COUNTRY': 'Nigeria', 'POP': 200.96, 'AREA': 923.77,
            'GDP': 375.77, 'CONT': 'Africa', 'IND_DAY': '1960-10-01'},
    'BGD': {'COUNTRY': 'Bangladesh', 'POP': 167.09, 'AREA': 147.57,
            'GDP': 245.63, 'CONT': 'Asia', 'IND_DAY': '1971-03-26'},
    'RUS': {'COUNTRY': 'Russia', 'POP': 146.79, 'AREA': 17_098.25,
            'GDP': 1_530.75, 'IND_DAY': '1992-06-12'},
    'MEX': {'COUNTRY': 'Mexico', 'POP': 126.58, 'AREA': 1_964.38,
            'GDP': 1_158.23, 'CONT': 'N.America', 'IND_DAY': '1810-09-16'},
    'JPN': {'COUNTRY': 'Japan', 'POP': 126.22, 'AREA': 377.97,
            'GDP': 4_872.42, 'CONT': 'Asia'},
    'DEU': {'COUNTRY': 'Germany', 'POP': 83.02, 'AREA': 357.11,
            'GDP': 3_693.20, 'CONT': 'Europe'},
    'FRA': {'COUNTRY': 'France', 'POP': 67.02, 'AREA': 640.68,
            'GDP': 2_582.49, 'CONT': 'Europe', 'IND_DAY': '1789-07-14'},
    'GBR': {'COUNTRY': 'UK', 'POP': 66.44, 'AREA': 242.50,
            'GDP': 2_631.23, 'CONT': 'Europe'},
    'ITA': {'COUNTRY': 'Italy', 'POP': 60.36, 'AREA': 301.34,
            'GDP': 1_943.84, 'CONT': 'Europe'},
    'ARG': {'COUNTRY': 'Argentina', 'POP': 44.94, 'AREA': 2_780.40,
            'GDP': 637.49, 'CONT': 'S.America', 'IND_DAY': '1816-07-09'},
    'DZA': {'COUNTRY': 'Algeria', 'POP': 43.38, 'AREA': 2_381.74,
            'GDP': 167.56, 'CONT': 'Africa', 'IND_DAY': '1962-07-05'},
    'CAN': {'COUNTRY': 'Canada', 'POP': 37.59, 'AREA': 9_984.67,
            'GDP': 1_647.12, 'CONT': 'N.America', 'IND_DAY': '1867-07-01'},
    'AUS': {'COUNTRY': 'Australia', 'POP': 25.47, 'AREA': 7_692.02,
            'GDP': 1_408.68, 'CONT': 'Oceania'},
    'KAZ': {'COUNTRY': 'Kazakhstan', 'POP': 18.53, 'AREA': 2_724.90,
            'GDP': 159.41, 'CONT': 'Asia', 'IND_DAY': '1991-12-16'}
}

columns = ('COUNTRY', 'POP', 'AREA', 'GDP', 'CONT', 'IND_DAY')

In [17]:
df = pd.DataFrame(data)

# Transpose a Data Frame

In [18]:
df.T

        COUNTRY      POP     AREA      GDP       CONT     IND_DAY
CHN       China  1398.72  9596.96  12234.8       Asia         NaN
IND       India  1351.16  3287.26  2575.67       Asia  1947-08-15
USA          US   329.74  9833.52  19485.4  N.America  1776-07-04
IDN   Indonesia   268.07  1910.93  1015.54       Asia  1945-08-17
BRA      Brazil   210.32  8515.77  2055.51  S.America  1822-09-07
PAK    Pakistan   205.71   881.91   302.14       Asia  1947-08-14
NGA     Nigeria   200.96   923.77   375.77     Africa  1960-10-01
BGD  Bangladesh   167.09   147.57   245.63       Asia  1971-03-26
RUS      Russia   146.79  17098.2  1530.75        NaN  1992-06-12
MEX      Mexico   126.58  1964.38  1158.23  N.America  1810-09-16
JPN       Japan   126.22   377.97  4872.42       Asia         NaN
DEU     Germany    83.02   357.11   3693.2     Europe         NaN
FRA      France    67.02   640.68  2582.49     Europe  1789-07-14
GBR          UK    66.44    242.5  2631.23     Europe         NaN
ITA       Italy    60.36   301.34  1943.84     Europe         NaN
ARG   Argentina    44.94   2780.4   637.49  S.America  1816-07-09
DZA     Algeria    43.38  2381.74   167.56     Africa  1962-07-05
CAN      Canada    37.59  9984.67  1647.12  N.America  1867-07-01
AUS   Australia    25.47  7692.02  1408.68    Oceania         NaN
KAZ  Kazakhstan    18.53   2724.9   159.41       Asia  1991-12-16

In [20]:
df.to_csv('countries.csv')

In [21]:
df = pd.read_csv('countries.csv', index_col=0)

In [22]:
df

,CHN,IND,USA,IDN,BRA,PAK,NGA,BGD,RUS,MEX,JPN,DEU,FRA,GBR,ITA,ARG,DZA,CAN,AUS,KAZ
COUNTRY,China,India,US,Indonesia,Brazil,Pakistan,Nigeria,Bangladesh,Russia,Mexico,Japan,Germany,France,UK,Italy,Argentina,Algeria,Canada,Australia,Kazakhstan
POP,1398.72,1351.16,329.74,268.07,210.32,205.71,200.96,167.09,146.79,126.58,126.22,83.02,67.02,66.44,60.36,44.94,43.38,37.59,25.47,18.53
AREA,9596.96,3287.26,9833.52,1910.93,8515.77,881.91,923.77,147.57,17098.25,1964.38,377.97,357.11,640.68,242.5,301.34,2780.4,2381.74,9984.67,7692.02,2724.9
GDP,12234.78,2575.67,19485.39,1015.54,2055.51,302.14,375.77,245.63,1530.75,1158.23,4872.42,3693.2,2582.49,2631.23,1943.84,637.49,167.56,1647.12,1408.68,159.41
CONT,Asia,Asia,N.America,Asia,S.America,Asia,Africa,Asia,NaN,N.America,Asia,Europe,Europe,Europe,Europe,S.America,Africa,N.America,Oceania,Asia
IND_DAY,NaN,1947-08-15,1776-07-04,1945-08-17,1822-09-07,1947-08-14,1960-10-01,1971-03-26,1992-06-12,1810-09-16,NaN,NaN,1789-07-14,NaN,NaN,1816-07-09,1962-07-05,1867-07-01,NaN,1991-12-16

In [8]:
pip install xlwt openpyxl xlsxwriter xlrd

Requirement already satisfied: xlwt in /Users/rnadorp/Documents/JADS/Development/env/lib/python3.7/site-packages (1.3.0)
Requirement already satisfied: openpyxl in /Users/rnadorp/Documents/JADS/Development/env/lib/python3.7/site-packages (3.0.5)
Requirement already satisfied: xlsxwriter in /Users/rnadorp/Documents/JADS/Development/env/lib/python3.7/site-packages (1.3.7)
Requirement already satisfied: xlrd in /Users/rnadorp/Documents/JADS/Development/env/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: et-xmlfile in /Users/rnadorp/Documents/JADS/Development/env/lib/python3.7/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /Users/rnadorp/Documents/JADS/Development/env/lib/python3.7/site-packages (from openpyxl) (1.4.1)
WARNING: You are using pip version 19.2.3, however version 20.2.4 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [23]:
df.to_excel('countries.xlsx')

In [24]:
df = pd.read_excel('countries.xlsx', index_col=0)

In [25]:
df

,CHN,IND,USA,IDN,BRA,PAK,NGA,BGD,RUS,MEX,JPN,DEU,FRA,GBR,ITA,ARG,DZA,CAN,AUS,KAZ
COUNTRY,China,India,US,Indonesia,Brazil,Pakistan,Nigeria,Bangladesh,Russia,Mexico,Japan,Germany,France,UK,Italy,Argentina,Algeria,Canada,Australia,Kazakhstan
POP,1398.72,1351.16,329.74,268.07,210.32,205.71,200.96,167.09,146.79,126.58,126.22,83.02,67.02,66.44,60.36,44.94,43.38,37.59,25.47,18.53
AREA,9596.96,3287.26,9833.52,1910.93,8515.77,881.91,923.77,147.57,17098.25,1964.38,377.97,357.11,640.68,242.5,301.34,2780.4,2381.74,9984.67,7692.02,2724.9
GDP,12234.78,2575.67,19485.39,1015.54,2055.51,302.14,375.77,245.63,1530.75,1158.23,4872.42,3693.2,2582.49,2631.23,1943.84,637.49,167.56,1647.12,1408.68,159.41
CONT,Asia,Asia,N.America,Asia,S.America,Asia,Africa,Asia,NaN,N.America,Asia,Europe,Europe,Europe,Europe,S.America,Africa,N.America,Oceania,Asia
IND_DAY,NaN,1947-08-15,1776-07-04,1945-08-17,1822-09-07,1947-08-14,1960-10-01,1971-03-26,1992-06-12,1810-09-16,NaN,NaN,1789-07-14,NaN,NaN,1816-07-09,1962-07-05,1867-07-01,NaN,1991-12-16

## Other formats
read_json()
read_html()
read_sql()
read_pickle()

# Working with CSV files

In [26]:
# Change behaviour re missing data
df.to_csv('data.csv', na_rep='(missing)')

In [27]:
pd.read_csv('new-data.csv', index_col=0, na_values='(missing)')

,CHN,IND,USA,IDN,BRA,PAK,NGA,BGD,RUS,MEX,JPN,DEU,FRA,GBR,ITA,ARG,DZA,CAN,AUS,KAZ
COUNTRY,China,India,US,Indonesia,Brazil,Pakistan,Nigeria,Bangladesh,Russia,Mexico,Japan,Germany,France,UK,Italy,Argentina,Algeria,Canada,Australia,Kazakhstan
POP,1398.72,1351.16,329.74,268.07,210.32,205.71,200.96,167.09,146.79,126.58,126.22,83.02,67.02,66.44,60.36,44.94,43.38,37.59,25.47,18.53
AREA,9596.96,3287.26,9833.52,1910.93,8515.77,881.91,923.77,147.57,17098.25,1964.38,377.97,357.11,640.68,242.5,301.34,2780.4,2381.74,9984.67,7692.02,2724.9
GDP,12234.78,2575.67,19485.39,1015.54,2055.51,302.14,375.77,245.63,1530.75,1158.23,4872.42,3693.2,2582.49,2631.23,1943.84,637.49,167.56,1647.12,1408.68,159.41
CONT,Asia,Asia,N.America,Asia,S.America,Asia,Africa,Asia,NaN,N.America,Asia,Europe,Europe,Europe,Europe,S.America,Africa,N.America,Oceania,Asia
IND_DAY,NaN,1947-08-15,1776-07-04,1945-08-17,1822-09-07,1947-08-14,1960-10-01,1971-03-26,1992-06-12,1810-09-16,NaN,NaN,1789-07-14,NaN,NaN,1816-07-09,1962-07-05,1867-07-01,NaN,1991-12-16

In [30]:
dtypes = {'POP': 'float32', 'AREA': 'float32', 'GDP': 'float32'}
df = pd.read_csv('countries.csv', index_col=0, dtype=dtypes)

In [33]:
df.T.to_csv('countriesT.csv')

In [35]:
df = pd.read_csv('countriesT.csv', index_col=0, dtype=dtypes, parse_dates=['IND_DAY'])

In [37]:
df.dtypes

COUNTRY            object
POP               float32
AREA              float32
GDP               float32
CONT               object
IND_DAY    datetime64[ns]
dtype: object